.logo {
    margin-bottom: 20px;
    width: 300px;
}

.logo-text {
    background: linear-gradient(#E18700, #FFD43a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}